* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}


#cabecalho {
    background-color: #c8102e;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    background-color: white;
    border-radius: 10px;
    margin: 0 10px;
}

nav ul li a {
    color: #c8102e;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(197, 113, 113);
    border-color: rgb(197, 113, 113);
     transform: scale(1.4);

}

#idolos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}
